<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.dbShop_ConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=database_mau;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.ipinternational_com_vnConnectionString"
            connectionString="Data Source=172.28.248.1;Initial Catalog=ipinternational_com_vn;Persist Security Info=True;User ID=ipinternational;Password=cG8ckhD79y"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.chuyenchothue_comConnectionString"
            connectionString="Data Source=(local);Initial Catalog=dichvuchothue_com_vn;Persist Security Info=True;User ID=dichvuchothue;Password=v2qHkgP2EA"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.tuvannetviet_comConnectionString"
            connectionString="Data Source=118.69.60.176;Initial Catalog=baotrigianguyen_com ;Persist Security Info=True;User ID=baotrigianguyen;Password=UWG2mTvMtE"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.database_mauConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=database_mau;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.myphamhanquocConnectionString"
            connectionString="Data Source=.\sql2008r2;Initial Catalog=myphamhanquoc;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>